.left-site{
  background-color: black;
  height: 100vh;
}
.dasbord{
  text-align: center;
}

/* :root{
  --offcanvas-width: 200px;
}
.sidebar-nav {
    width: var(--offcanvas-width);
  }
  @media (min-width: 992px) {
    .sidebar-nav{
      transform: none;
      visibility: visible !important;
    }
  } */
  /* .sidebar li {
    margin-bottom: 2rem;
  }
  .sidebar svg {
    margin-right: 10px;
  }
  .sidebar li:hover span {
    display: inline-block;
    transform: translate(5px);
  } */